.Rproj.user
.Rhistory
.RData
.Ruserdata

**/*_cache/


README.html
Derived_Data/DATA_NOTES.html
Original_Data/DATA_SOURCES.html
**/drafts
**/sources
**/omitfromgit

*.nb.html

Sonde_Data.csv
extracted_grab_data.xlsm
