.Rproj.user
.Rhistory
.RData
.Ruserdata

**/*_cache/


README.html
Derived_Data/DATA_NOTES.html
Original_Data/DATA_SOURCES.html
**/drafts
**/sources
**/omitfromgit

*.nb.html

Derived_Data/Sonde_Data.csv
Original_Data/extracted_grab_data.xlsm
